click==8.0.3
dataclasses==0.6
Flask==2.1.2
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
lolpython==2.2.0
MarkupSafe==2.0.1
numpy==1.22.3
pandas==1.4.2
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
SQLAlchemy==1.4.36
typing-extensions==4.0.1
Werkzeug==2.0.2
WTForms==3.0.1
zipp==3.6.0
