<!doctype html>
<html lang="en">

<div class="navbar-end">
    <a href="{{ url_for('index') }}" class="navbar-item">Home</a>
    <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
    <a href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a>    
    <a href="{{ url_for('add_question') }}" class="navbar-item">Dodaj pytanie</a>
    <a href="{{ url_for('add_questions_link') }}" class="navbar-item">Dodaj link z pytaniami</a>   
</div>

<div class="container">
    {% block content %} {% endblock %}
</div>