{% extends "base.html" %}


{% block content %}




    {# SHOW ONE QUESTION #}

    <div>        
        <br>
        <br>
        <p>Kolekcje pytań rekrutacyjnych.</p>
        <br>
        <br>

        <div style="text-align:center">
            <h1>{{question.question}}</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>


    {# TBD #}

    {# 
    <div style="text-align:center">
        <button onclick="window.location.href='/'">Następne pytanie</button>
    <div>
    
    <script>
      function showDiv() {
        if (document.getElementById('answer').style.display!='block') {
          document.getElementById('answer').style.display = "block";
          document.getElementById('butt_answer').innerText = "Schowaj";
        } else {
          document.getElementById('answer').style.display = "none";
          document.getElementById('butt_answer').innerText = "Pokaż";
        }
      }
    </script>

    <div id="answer" style="display:none;"> {{answer}} </div>
    <button id="butt_answer" name="answer" onclick="showDiv()"> Show answer </button>
    #}
 {% endblock %}