<!DOCTYPE>
<html>
<head>
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align:center">{{question}}</h1>
    <br>
    <br>
    <h1 style="text-align:center;display:none"></h1>
    <br>
    <br>

    <div style="text-align:center">
        <button onclick="window.location.href='/'">Następne pytanie</button>
    <div>
    
    <script>
      function showDiv() {
        if (document.getElementById('answer').style.display!='block') {
          document.getElementById('answer').style.display = "block";
          document.getElementById('butt_answer').innerText = "Schowaj";
        } else {
          document.getElementById('answer').style.display = "none";
          document.getElementById('butt_answer').innerText = "Pokaż";
        }
      }
    </script>

    <div id="answer" style="display:none;"> {{answer}} </div>
    <button id="butt_answer" name="answer" onclick="showDiv()"> Show answer </button>
    
</html>